 /* width */
 ::-webkit-scrollbar {
    width: 10px;
    border-radius:20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius:20px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius:20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius:20px;
  }

  .left {
      align-self: flex-end;
      width: 30%;
  }

  .right {
    align-self: flex-start;
    width: 30%;
}

.report {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin-right: 10px;
}

.select {
  padding-left: 5px;
  padding-right: 5px;
}

.positive {
  background-color: #36d7b7;
  border-color: #36d7b7;
}

.negative {
  background-color: #f1828d;
  border-color: #f1828d;
}